@model ConcertApp.Models.ConcertEventViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ConcertEvent.Musician)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConcertEvent.Musician)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConcertEvent.Tickets)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConcertEvent.Tickets)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConcertEvent.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConcertEvent.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConcertEvent.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConcertEvent.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConcertEvent.EventType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConcertEvent.EventType.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConcertEvent.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConcertEvent.Location.Name)
            </dd>
                @if (Model.ConcertEvent.EventTypeID == 1)
                {
                    @Html.Partial("Classic")
                }
                else if (Model.ConcertEvent.EventTypeID == 2)
                {
                    @Html.Partial("Party")
                }
                else if (Model.ConcertEvent.EventTypeID == 3)
                {
                    @Html.Partial("OpenAir")
                }
            </dl>
    </div>
<form method="post">
    <div class="row">
        <label asp-for="@Model.Quantity" class="control-label" @*style="width:100px; height:30px"*@></label>
        <input asp-for="@Model.Quantity" class="form-control" @*style="width:100px; height:30px"*@/>
        <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
    </div>
    <div class="row">
        <input asp-route-id="@Model.ConcertEvent.ID" asp-action="buy" asp-route-button="buy" type="submit" value="Buy Ticket" class="btn btn-default" />
        <input asp-route-id="@Model.ConcertEvent.ID" asp-action="book" asp-route-button="book" type="submit" value="Book Ticket" class="btn btn-default" />
    </div>
    @if ((bool)(ViewData["TicketsError"]))
    {
        <div class="row">
            <p>No more tickets. You are late. Sorry :(</p>
        </div>
    }

</form>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
