@model ConcertApp.Models.CabinetViewModels.TicketsViewModel

@{
    ViewData["Title"] = "Your tickets";
}

<h2>Your bought tickets</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BoughtTickets[0].ConcertEvent.Musician)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BoughtTickets[0].ConcertEvent.EventType)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BoughtTickets[0].ConcertEvent.Date)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BoughtTickets[0].ConcertEvent.Location)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BoughtTickets[0].ConcertEvent.Price)
            </td>
        </tr>
        @foreach (var item in Model.BoughtTickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.Musician)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Your booked tickets</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BookedTickets[0].ConcertEvent.Musician)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BookedTickets[0].ConcertEvent.EventType)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BookedTickets[0].ConcertEvent.Date)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BookedTickets[0].ConcertEvent.Location)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.BookedTickets[0].ConcertEvent.Price)
            </td>
        </tr>
        @foreach (var item in Model.BookedTickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.Musician)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcertEvent.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
